
.div-container{

    
    background:url("../../Assets/pexels-stephan-seeber-1054218.jpg");
       display: flex;
        height:calc(100vh-50px);
       background-size: cover;
       justify-content: center;
       align-items: center;
       flex-direction: column;
       font-family:Poppins;
       
       
        
        
    }
    .signuptitle{
        margin:20px;
        color:whitesmoke;
        text-align: center;
       
    
    }
    .signuptitle span{
        font-size:40px;
        
        
    }
    .login-container{
        
        padding:40px;
        width: 30%;
        
        
        border:1px solid whitesmoke;
        border-radius: 10px;
        background: whitesmoke;
       
    }
    form div{
        margin-bottom:20px;
    }
  
   div label{display: flex;
    font-size:15px;
    padding:10px 0;}
    div input{
        display: flex;
        font-size:15px;
        padding:10px 10px;
        width:95%;
    }
    .button-div{
        
        display: flex;
        justify-content: center;
        align-items: center;
        
    }
    .button-button-div{
        margin:40px 40px;
        width:80%;
        padding:10px;
        background-color: rgb(98, 173, 23);
        border:1px solid rgb(98, 173, 23);
        border-radius:5px;
        color:whitesmoke;
    
    
    }
    .link-div {
      display: flex;
        
        justify-content: space-between;
    }
    .link-div span{font-size:15px;}